.header {
    position: relative;
    background-color: $dark;
    img {
        display: block;
        max-width: 100%;
    }

    .headerContent {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        color:$dark;

        h1 {
            font-family: 'Tahu';
            font-weight: normal;
            font-size : 9vw;
            color: $green;
            margin: 0;
        }

        h2 {
            font-size : 3vw;
            font-weight: 400;
            margin: 0.25em 0 0.25em 0;
        }
       
    }

    @media all and (max-width: 550px) {
        .headerContent {
            top: 8%;
            h1 {
                font-size : 2.5em;
            }
            h2 {
                font-size : 1.2em;
            }
        }
        margin-top: 40px;
    }
    
}

.wave {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    fill: $white;
}

