nav, footer {
    height: 35px;
    background-color: #ad48768f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    padding: 10px 10px 10px 10px;
    

    ul {
        padding: 0;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        z-index: 20;
        a {
            text-decoration: none;
        }
        li {
            color: $white;
        }
    }
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
footer {
    margin-top: auto;
    h1 {
        margin: 0;
    }
}
