nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($blue, 0.8);
    margin: 0;
    color: $dark;
    padding: 0;
    
    .toggleMenu {
        display: none;
    }

    ul {
        padding: 0;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        z-index: 20;
        a {
            text-decoration: none;
        }
        li {
            color: $white;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
footer {
    align-items: center;
    padding: 5px;
    height: auto;
    line-height: 1;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    color: white;
    p {
        grid-column-start: 2;
        margin: 0;
        text-align: center;
    }
    h1 {
        margin: 0;
    }
    ul {
        justify-content: flex-end;
        margin: 0 auto;
    }
    svg {
        height: 40px;
        width: auto;
        margin: 0 5px;
        fill: $white;

        &:hover {
            fill: $dark-blue;
        }
    }

    a {
        text-decoration: none;
        font-weight: 700;
        color: inherit;
        width: 80%;
        margin: 0 auto;

        &:hover {
            color: $dark-blue;
        }
    }

    @media all and (max-width: 450px) {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        a {
            text-align: center;
        }
        p {
            grid-column-start: 1;
        }
        ul {
            justify-content: inherit;
        }
    }
}

@media all and (max-width: 450px) {
    .menuCollapsible {
        flex-direction: column;
        div {
            display: flex;
            justify-content: center;
            width: 100px;
            align-items: center;
            justify-content: space-between;
            color: $white;
            img {
                filter: invert(100%);
            }
        }

        .menuElts {
            margin: 0;
            text-align: center;
            flex-direction: column;
            display: none;
            max-height: 0;
            overflow: hidden;
            transition: all 0.2s ease-out;
        }
        
      
    }


    nav, footer {
        background-color: rgba($blue, 0.9);
    }
}
