#project-1 {
    background: center / cover no-repeat url("../img/banniere.jpg");
}

.glide__slides {
    height: 270px;
    align-items: center;
    margin: 0;
}
.glide__slide {
    height: 240px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.glide__arrow {
    background: $dark;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.295);
    border: transparent;
    padding: 10px 12px;
    line-height: inherit;
    transition: box-shadow 200ms ease;
    svg {
        fill: white;
    }
    &:hover {
        box-shadow: none;
    }
}

.slide-content {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: 700;
    z-index: 20;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    background: rgba($color: #000000, $alpha: 0.6)
}