#about-me {
    #profilePicture {
        width: 20%;
        border:  solid 10px $white;
        box-shadow: 0px 0px 10px 0 rgba(0,0,0,.2);
    }
}

.sectionTitle {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    img {
        height: 40px;
        width: 100px;
        
        &:nth-child(1) {
            padding-right:40px;
        }
        &:nth-child(3) {
            padding-left:40px;
        }

    }
}

.sectionContent {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    #bubble {
        position: relative;
        width: 50%;
        left: 12px;
        background: $gray-100;
        text-align: left;
        padding: 3% 3%;
        line-height: 1.5rem;
        border-radius: 8px 8px 8px 0;
        p {
            text-align: center;
            font-style: italic;
            margin : 0;
        }
    }
    #bubble:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width:  12px 12px 0 0;
      border-color:  transparent $gray-100 transparent transparent;
      left: -12px;
      right: auto;
      top: auto;
      bottom: 0px;
    }
}
