#about-me {
    #profilePicture {
        width: 20%;
        border:  solid 10px $white;
        box-shadow: 0px 0px 10px 0 rgba(0,0,0,.2);
    }
    
    .left-quote {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 45px;
        height: auto;
        fill: $gray-300;
    }

    .right-quote {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 45px;
        height: auto;
        fill: $gray-300;
    }

    @media all and (max-width: 900px) {
        #profilePicture {
            width: 70%;
            margin-bottom: 20px;
        }
    }
}

.sectionTitle {
    
    display: flex;
    justify-content: center;
    margin: 0 30px 0;
    h2 {
        margin-bottom: 8px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -0.300rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
        
            // Position the line behind the text so that
            // it is still easily readable
            z-index: -1;
        
            // The SVG is added as an SVG background image
            background-image: url('../img/Underline.svg');
            background-repeat: no-repeat;
        
            // This allows the SVG to flex in size to fit
            // any length of word. If the word is short,
            // the SVG will be stretched vertically, if it
            // is long, the SVG will be stretched horizontally.
            // The jagged nature of this particular SVG works
            // with this transforming.
            background-size: cover;
        }
    }
    
}

.sectionContent {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    #bubble {
        position: relative;
        width: 50%;
        left: 12px;
        background: $gray-100;
        text-align: left;
        padding: 60px 60px;
        line-height: 1.5rem;
        border-radius: 8px 8px 8px 0;
        p {
            text-align: justify;
            font-style: italic;
            margin : 0;
        } 
    }
    #bubble:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width:  12px 12px 0 0;
      border-color:  transparent $gray-100 transparent transparent;
      left: -12px;
      right: auto;
      top: auto;
      bottom: 0px;
    }

    @media all and (max-width: 900px) {
        display: block; 
        #bubble {
            width: auto;
            margin: 0 15px;
            left: 0;
            font-size: 0.85em;
            border-radius: 8px ;
            p {
            text-align: left;
            }
        }
        #bubble:after {
            content: none;
        }
    }
}

#my-journey {

    .sectionContent {
        display: block;
    }

    a {
        color: $dark-blue;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-weight: 800;
        transition-duration: 0.15s;

        &:hover {
            color: $blue;
        }
    }
    img {
        height: auto;
        width: 50px;
        margin: auto 0 auto 15px;
    }

    @media all and (max-width: 450px) {
        .sectionContent {
            margin: 30px 15px;
        }
        a {
            display: block;
        }
        img {
            margin: 0;
        }
    }
}