$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$light: #F2F4F3 !default;
$dark:  #293132 !default;
$dark-purple: #2B193D !default;
$purple: #6C3B80 !default;
$light-purple:  rgb(120, 76, 138) !default;
$blue: #50B9CA !default;
$light-blue: rgb(130, 199, 209) !default;
$red-orange: #c31432;
$burn-orange: #A01129;

$Muli : 'Open Sans', sans-serif;