@import 'variables';
@import 'nav';
@import 'header';
@import 'section';
// Required Core Stylesheet
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import 'projects';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: $Muli;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
}
section {
    padding: 0 30px 0 30px;
    margin-bottom: 40px;
    text-align: center;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: $dark;
    }
}