@font-face {
  font-family: "Tahu";
  src: url("../../fonts/Tahu/Tahu-.eot?#iefix") format("embedded-opentype"), url("../../fonts/Tahu/Tahu-.woff") format("woff"), url("../../fonts/Tahu/Tahu-.ttf") format("truetype"), url("../../fonts/Tahu/Tahu-.svg#Tahu!") format("svg");
  font-weight: normal;
  font-style: normal;
}
nav, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 136, 160, 0.8);
  margin: 0;
  color: #474350;
  padding: 0;
}
nav .toggleMenu, footer .toggleMenu {
  display: none;
}
nav ul, footer ul {
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  z-index: 20;
}
nav ul a, footer ul a {
  text-decoration: none;
}
nav ul li, footer ul li {
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}
nav ul li:hover, footer ul li:hover {
  cursor: pointer;
  color: #1a6375;
  transition-duration: 0.15s;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
}
nav #menu-logo > img {
  height: 80px;
  width: auto;
}

footer {
  align-items: center;
  padding: 5px;
  height: auto;
  line-height: 1;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  color: white;
}
footer p {
  grid-column-start: 2;
  margin: 0;
  text-align: center;
}
footer h1 {
  margin: 0;
}
footer ul {
  justify-content: flex-end;
  margin: 0 auto;
}
footer svg {
  height: 40px;
  width: auto;
  margin: 0 5px;
  fill: #fff;
  transition-duration: 0.15s;
}
footer svg:hover {
  fill: #1a6375;
}
footer a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  width: 80%;
  margin: 0 auto;
  transition-duration: 0.15s;
}
footer a:hover {
  color: #1a6375;
}
@media all and (max-width: 450px) {
  footer {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  footer a {
    text-align: center;
  }
  footer p {
    grid-column-start: 1;
  }
  footer ul {
    justify-content: inherit;
  }
}

@media all and (max-width: 750px) {
  .menuCollapsible {
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
  }
  .menuCollapsible div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  .menuCollapsible #menu-logo {
    display: none;
  }
  .menuCollapsible .toggleMenu {
    justify-content: center;
  }
  .menuCollapsible .toggleMenu img {
    filter: invert(100%);
    margin: 0 5px;
  }
  .menuCollapsible .menuElts {
    margin: 0;
    text-align: center;
    flex-direction: column;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }

  nav, footer {
    background-color: rgba(41, 136, 160, 0.9);
  }
}
.header {
  position: relative;
  background-color: #474350;
}
.header img {
  display: block;
  max-width: 100%;
}
.header .headerContent {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: #474350;
}
.header .headerContent h1 {
  font-family: "Tahu", sans-serif;
  font-weight: normal;
  font-size: 9vw;
  color: #9BC149;
  margin: 0;
}
.header .headerContent h2 {
  font-size: 3vw;
  font-weight: 400;
  margin: 0.25em 0 0.25em 0;
}
.header .headerContent #arrow {
  margin-top: 60px;
}
.header .headerContent img {
  margin: auto;
  width: 50px;
  height: 50px;
}
@media all and (max-width: 900px) {
  .header .headerContent img {
    width: 30px;
    height: 30px;
  }
  .header .headerContent #arrow {
    margin-top: 40px;
  }
}
@media all and (max-width: 550px) {
  .header {
    margin-top: 62px;
  }
  .header .headerContent {
    top: 8%;
  }
  .header .headerContent h1 {
    font-size: 2.5em;
  }
  .header .headerContent h2 {
    font-size: 1.2em;
  }
}
@media all and (min-width: 1720px) {
  .header .headerContent h1 {
    font-size: 6em;
  }
  .header .headerContent h2 {
    font-size: 3em;
  }
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  fill: #fff;
}

body {
  font: 1em sans-serif;
  text-align: center;
}

.stage {
  border-bottom: 3px solid #444;
  display: flex;
  height: 330px;
  width: 100%;
}

.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}

.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
#about-me #profilePicture {
  width: 20%;
  border: solid 10px #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}
#about-me .left-quote {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 45px;
  height: auto;
  fill: #dee2e6;
}
#about-me .right-quote {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: auto;
  fill: #dee2e6;
}
@media all and (max-width: 900px) {
  #about-me #profilePicture {
    width: 70%;
    margin-bottom: 20px;
  }
}

.sectionTitle {
  display: flex;
  justify-content: center;
  margin: 0 30px 0;
}
.sectionTitle h2 {
  margin-bottom: 8px;
  position: relative;
}
.sectionTitle h2::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: -1;
  background-image: url("../../img/Underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}
.sectionContent #bubble {
  position: relative;
  width: 50%;
  left: 12px;
  background: #f8f9fa;
  text-align: left;
  padding: 60px 60px;
  line-height: 1.5rem;
  border-radius: 8px 8px 8px 0;
}
.sectionContent #bubble p {
  text-align: justify;
  font-style: italic;
  margin: 0;
}
.sectionContent #bubble:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: transparent #f8f9fa transparent transparent;
  left: -12px;
  right: auto;
  top: auto;
  bottom: 0px;
}
@media all and (max-width: 900px) {
  .sectionContent {
    display: block;
  }
  .sectionContent #bubble {
    width: auto;
    margin: 0 15px;
    left: 0;
    font-size: 0.85em;
    border-radius: 8px;
  }
  .sectionContent #bubble p {
    text-align: left;
  }
  .sectionContent #bubble:after {
    content: none;
  }
}

#my-journey .sectionContent {
  display: block;
}
#my-journey a {
  color: #1a6375;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 800;
  transition-duration: 0.15s;
}
#my-journey a:hover {
  color: #2988a0;
}
#my-journey img {
  height: auto;
  width: 50px;
  margin: auto 0 auto 15px;
}
@media all and (max-width: 450px) {
  #my-journey .sectionContent {
    margin: 30px 15px;
  }
  #my-journey a {
    display: block;
  }
  #my-journey img {
    margin: 0;
  }
}

#video {
  min-width: 700px;
  margin: auto;
}
#video .videoPresentation {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#video iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 900px) {
  #video {
    min-width: auto;
    margin: 0;
  }
  #video .videoPresentation {
    display: flex;
  }
}

#project-1 {
  background: center/cover no-repeat url("../../img/banniere.jpg");
}

.slick-track {
  display: flex;
  align-items: center;
  height: 300px;
  padding: 20px 0;
}

.slick-slide > div {
  height: 100%;
  width: 100%;
}

.slide {
  position: relative;
  overflow: hidden;
  height: 85%;
  width: auto;
  margin: 0 10px 0 10px;
  -moz-box-shadow: 0px 0px 10px 3px #c0c0c0;
  -webkit-box-shadow: 0px 0px 10px 3px #c0c0c0;
  -o-box-shadow: 0px 0px 10px 3px #c0c0c0;
  box-shadow: 0px 0px 10px 3px #c0c0c0;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=10);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.slide .slide-background {
  height: 100%;
  width: 100%;
  background-position: center;
  transition: all 0.5s ease;
}

.slide-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  z-index: 400;
  text-decoration: none;
}
.slide-content .technologies {
  background: #E71D36;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
}
.slide-content:hover + .slide-background {
  transform: scale(1.2);
}

.slick-prev:before, .slick-next:before {
  color: #000000 !important;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.6);
}

.form-line {
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.75;
}
.form-line textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: "Quicksand", sans-serif, sans-serif;
  outline: none;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}
.form-line input {
  height: 25px;
  border-width: 0 0 1px 0;
  border-color: #dee2e6;
  width: 100%;
  display: block;
  outline: none;
}
.form-line input:focus {
  border-color: #474350;
}
@media all and (max-width: 450px) {
  .form-line {
    margin: 0 10% 5% 10%;
  }
}

input[type=submit] {
  margin-top: 20px;
  padding: 9px 40px;
  color: #fff;
  font-weight: bold;
  font-family: "Quicksand", sans-serif, sans-serif;
  background-color: #E71D36;
  border: 1px solid #E71D36;
  border-radius: 40px;
}
input[type=submit]:hover {
  cursor: pointer;
}

.contact-form {
  margin-bottom: 40px;
}

.error-message {
  color: #dd183f;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

@media all and (min-width: 450px) {
  form {
    width: 450px;
    margin: 0 auto;
  }
}
body {
  font-family: "Quicksand", sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 30px 30px 0 30px;
  text-align: center;
}
section h2 {
  margin: 0 !important;
  line-height: 1.75;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #474350;
}
@media all and (max-width: 450px) {
  section {
    padding: 15px 0 0 0;
  }
}

.legal-notice {
  margin: 40px;
}

/*# sourceMappingURL=main.css.map */
